<ToolbarComponent>
    <button class="oi oi-plus" title="Increment" @onclick="ViewModel.IncrementCounter"></button>
</ToolbarComponent>

@code {

    [CascadingParameter]
    private ViewModel ViewModel { get; set; }
}
