@page "/counter"

<h1>Counter</h1>

<p>Current count: @ViewModel.CounterValue</p>

<button class="btn btn-primary" @onclick="ViewModel.IncrementCounter">Click me</button>

@code {

    [CascadingParameter]
    private ViewModel ViewModel { get; set; }

    [CascadingParameter]
    private IToolbarService ToolbarService { get; set; }

    protected override void OnAfterRender(bool _)
    {
        ToolbarService.Set<HomeLink>(0, 0);
        ToolbarService.Set<CounterDecrementButton>(1, 0);
        ToolbarService.Set<CounterIncrementButton>(1, 1);
    }
}