@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    [CascadingParameter]
    private IToolbarService ToolbarService { get; set; }

    protected override void OnAfterRender(bool _)
    {
        ToolbarService.Clear();
    }
}