
<button class="oi oi-minus" title="Decrement" @onclick="() => OnClick()"></button>

@code {

    [CascadingParameter]
    public int Counter { get; set; } = 0;

    public virtual void OnClick()
    {
        Counter--;
        // StateHasChanged();
    }
}
