
@inherits ToolbarComponentBase

<ToolbarComponentWrapper>
    <button class="@CssIcon" title="@Title" @onclick="() => OnClick()"></button>
</ToolbarComponentWrapper>

@code {
    [Parameter]
    public string CssIcon { get; set; } = null!;

    [Parameter]
    public string Title { get; set; } = string.Empty;


    public virtual void OnClick() { }
}
