
@inherits ToolbarComponentBase

<ToolbarComponentWrapper>
    <div>
        <span class="@CssIcon"></span>
        <select value="@Value" @onchange="x => OnChange(x.Value)">
            @ChildContent
        </select>
    </div>
</ToolbarComponentWrapper>

@code {

    [Parameter]
    public string CssIcon { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public object Value { get; set; } = new object();


    public virtual void OnChange(object? value) { }
}
