ul {
    padding: .125rem !important;
    margin: .5rem !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border-radius: .25rem !important;
    background-color: #f8f9fa;
    list-style: none;
}

    ul ::deep li a {
        margin: .25rem !important;
    }

    ul ::deep li button {
        margin: .25rem !important;
    }

    ul ::deep li div {
        white-space: nowrap !important;
    }

    ul ::deep li select {
        box-shadow: none !important;
        border: 0 !important;
        background-color: transparent !important;
    }