<CascadingValue Value=this>
    @if (_toolbarComponents.Any())
    {
        <ul class="@CssClass">
            @foreach (var toolbarComponent in _toolbarComponents)
            {
                <li>
                    @toolbarComponent
                </li>
            }
        </ul>
    }
</CascadingValue>

@code {

    [Parameter]
    public int Group { get; set; } = int.MinValue;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
}
