ul {
    padding: .125rem !important;
    margin: .5rem !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border-radius: .25rem !important;
    background-color: #f8f9fa;
    list-style: none;
}

    ul ::deep li a {
        margin: .25rem !important;
    }

    ul ::deep li button {
        margin: .25rem !important;
    }

    ul ::deep li div {
        white-space: nowrap !important;
    }

    ul ::deep li select {
        box-shadow: none !important;
        border: 0 !important;
        background-color: transparent !important;
    }

    ul ::deep li a,
    ul ::deep li button,
    ul ::deep li div {
        display: inline-block;
        color: #212529;
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

        ul ::deep li a:not(:disabled):not(.disabled),
        ul ::deep li button:not(:disabled):not(.disabled),
        ul ::deep li div:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        ul ::deep li a:hover,
        ul ::deep li button:hover,
        ul ::deep li div:hover {
            color: #212529;
            background-color: #e2e6ea;
            border-color: #dae0e5;
            text-decoration: none;
        }

        ul ::deep li a:focus,
        ul ::deep li button:focus,
        ul ::deep li select:focus {
            outline: 0;
        }

        ul ::deep li a:active,
        ul ::deep li button:active,
        ul ::deep li select:active {
            color: #212529;
            background-color: #dae0e5;
            border-color: #d3d9df;
            box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, .5);
        }