<ToolbarComponent>
    <button class="oi oi-minus" title="Decrement" @onclick="ViewModel.DecrementCounter"></button>
</ToolbarComponent>

@code {

    [CascadingParameter]
    private ViewModel ViewModel { get; set; }
}
