<ToolbarComponent>
    <div>
        <span class="oi oi-list"></span>
        <select value="@(Date == null ? string.Empty : $"{Date:yyyy-MM-dd}")" @onchange="x => OnChange(x.Value)">
            <option value="@(string.Empty)">
                ---
            </option>
            @if (Forecasts.Any())
            {
                @foreach (var forecast in Forecasts)
                {
                    @if (forecast.Date.Date != DateTime.Today)
                    {
                        <option value="@($"{forecast.Date.Date:yyyy-MM-dd}")">
                            @forecast.Date.Date.ToShortDateString()
                        </option>
                    }
                }
            }
        </select>
    </div>
</ToolbarComponent>

@code {

    [Parameter] public WeatherForecast[] Forecasts { get; set; } = null;
    [Parameter] public DateTime? Date { get; set; } = null;

    [Inject] public NavigationManager NavigationManager { get; set; } = null;

    public virtual void OnChange(object value)
    {
        var navigateUrl = !string.IsNullOrWhiteSpace(value?.ToString())
            ? $"fetch-data/{value}"
            : "fetch-data";

        NavigationManager.NavigateTo(navigateUrl);
    }
}
